*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 60px auto 0 auto;
    min-width: 320px;
    min-height: 100%;
    max-width: 1920px;
    overflow: hidden;

    @media (max-width:575px) {
        margin: 68px auto 0 auto;
        }

    .content {
        position: relative;
        flex: 1 0 auto;
    }

    .footer {
        flex: 0 0 auto;
    }
}

.container {
    margin: 0 auto;
    width: 1390px;

    @media (max-width:1390px) {
        width: 100%;
    }
}

html,
body {
    height: 100%;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1.4;
    color: $black;
}

.hover-animate{
    
    position: relative;
    overflow: hidden;
    border: 1px solid transparent;
    transition: all .3s;
    
        &:hover{
            background-color: #F2F2F2;
            border: 1px solid #333;
            color: #333;

            svg{
                path{
                    stroke:#333;
                }
            }

            
        }

}