<div class="product-box__footer">
    <div class="product-box__footer-row">
        <div class="product-box__footer-icon">
            <img src="assets/img/cloth.svg" alt="Описание товара">
        </div>
        <div class="product-box__footer-text">Описание товара</div>
    </div>
    <div class="product-box__footer-row">
        <div class="product-box__footer-icon">
            <img src="assets/img/clock.svg" alt="Доставка и возврат">
        </div>
        <div class="product-box__footer-text">Доставка и возврат</div>
    </div>
    <div class="product-box__footer-row">
        <div class="product-box__footer-icon">
            <img src="assets/img/cash.svg" alt="Способы оплаты">
        </div>
        <div class="product-box__footer-text">Способы оплаты</div>
    </div>
    </div>
</div>