<header class="header">
    <div class="container header-container">
        <a href="/" class="logo">
            logo
        </a>
        <ul class="header__menu">
            <li class="header__menuItem"><a class="header__menuLink" href="#">постельное белье</a></li>
            <li class="header__menuItem"><a class="header__menuLink" href="#">одежда для дома</a></li>
            <li class="header__menuItem"><a class="header__menuLink" href="#">Одежда для улицы</a></li>
            <li class="header__menuItem"><a class="header__menuLink" href="#">ВЫход</a></li>
        </ul>
        <div class="header__tools">
            <div class="header__widget profile-widget">
                <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="8.9597" cy="4.18919" r="3.68919" stroke="#333333"/>
                    <path d="M1 15.84C1 12.4347 5.34699 9.91339 8.71429 10.0023C11.9328 10.0872 16 12.4347 16 15.84" stroke="#333333"/>
                </svg>
            </div>
            <div class="header__widget favorite-widget">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.90038 3.0948C6.70018 -2.52108 -2.59083 1.90389 1.76074 7.60175C6.1123 13.2996 8.40039 15.4908 8.40039 15.4908" stroke="#333333"/>
                    <path d="M7.89433 3.0948C9.09453 -2.52108 18.7306 1.90389 14.379 7.60175C10.0275 13.2996 7.7002 15.5 7.7002 15.5" stroke="#333333"/>
                    <path d="M7.3916 2.70776L8.40491 2.70782L8.38398 3.24104H7.3916V2.70776Z" fill="#333333"/>
                </svg>
                <div class="widget-counter" id="favorite-counter">0</div>
            </div>
            <div class="header__widget cart-widget">
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.74689 4.86841H12.2531C13.7116 4.86841 14.8604 6.11177 14.7453 7.56571L14.2203 14.1973C14.1174 15.4974 13.0323 16.5 11.7281 16.5H4.27189C2.96769 16.5 1.88261 15.4974 1.77968 14.1973L1.25468 7.5657C1.13958 6.11177 2.2884 4.86841 3.74689 4.86841Z" stroke="#333333"/>
                    <path d="M3.99993 9.5C3.99993 9.5 3.78323 1 7.99995 1C12.2167 1 11.9999 9.5 11.9999 9.5" stroke="#333333"/>
                </svg>
                <div class="widget-counter" id="cart-counter">0</div>
            </div>
            <div class="header__toggler">
                <span></span>
            </div>
        </div>
    </div>
</header>
<div class="menu-mobile">
    <div class="menu-mobile__close">
        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.3431 0.707107L0.707107 14.3431L0 13.636L13.636 1.96551e-07L14.3431 0.707107Z" fill="#333333"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.706712 0.707107L14.3427 14.3431L15.0498 13.636L1.41382 1.96551e-07L0.706712 0.707107Z" fill="#333333"/>
        </svg>
    </div>
    <ul class="menu-mobile__list">
        <li class="menu-mobile__item"><a class="menu-mobile__link" href="#">постельное белье</a></li>
        <li class="menu-mobile__item"><a class="menu-mobile__link" href="#">одежда для дома</a></li>
        <li class="menu-mobile__item"><a class="menu-mobile__link" href="#">Одежда для улицы</a></li>
        <li class="menu-mobile__item"><a class="menu-mobile__link" href="#">Выход</a></li>
    </ul>
</div>